/* Цвета */

$primary-color: #0f172a;
$secondary-color: #9cc2d1;
$background-color: #f8f9fa;
$text-color: #020817;

/* Шрифты */

$font-family-header: "Roboto Condensed", sans-serif;
$font-family-main: "Ubuntu", sans-serif;
$font-size-xl: 5rem;
$font-size-l: 2.5rem;
$font-size-n: 1.2rem;
$font-size-s: 0.8rem;

/* Габариты */

$border-radius-s: 4px;
$content-width: 800px;
